:root {
    --background-color: rgb(6,11,25);
    --border-color: rgb(255,255,255,0.1);
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    }      

    .nav-section {
        padding: 3rem 2rem;
        display: flex;
        gap: 1rem;
        border-left: 1px solid var(--border-color);
    }

